/* styles.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

header {
    width: 100%;
    background-color: #f8f9fa;
    padding: 10px 0;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

header h1 {
    margin: 0;
    font-size: 24px;
}

.container {
    display: flex;
    width: 80%;
    height: 80%;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.left-pane, .right-pane {
    flex: 1;
    padding: 20px;
    box-sizing: border-box;
}

.left-pane {
    border-right: 1px solid #ccc;
    display: flex;
    flex-direction: column;
}

textarea {
    flex: 1;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    resize: none; /* サイズを変更できないようにする */
    overflow-x: auto; /* 横方向にスクロールできるようにする */
    white-space: nowrap; /* テキストを折り返さない */
}

.right-pane {
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h2 {
    margin-top: 0;
}

img {
    max-width: 100%;
    height: auto;
}
